html {
  font-family: Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #e7e7e7;
}

tr:first-child {
  background: #009fe9;
}
.program:nth-child(even) {
  background: #E6F7FF;
}
.program:nth-child(odd) {
  background: #C4ECFF;
}

th,
td {
  padding: 5px;
}

th {
  text-align: left;
  font-weight: 500;
}

label {
  display: block;
}

.input_field {
  margin-bottom: 20px;
}