<form ng-submit="submit()">
  <div class="input_field">
    <label>Name</label>
    <input type="text" ng-model="program.name">
  </div>

  <div class="input_field">
    <label>Date</label>
    <input type="text" ng-model="program.date">
  </div>

  <div class="input_field">
    <label>Start time</label>
    <input type="text" ng-model="program.start_time">
  </div>

  <div class="input_field">
    <label>Lead text</label>
    <textarea ng-model="program.leadtext" cols="30" rows="10"></textarea>
  </div>

  <div class="input_field">
    <label>B line</label>
    <input type="text" ng-model="program['b-line']">
  </div>

  <div class="input_field">
    <label>Synopsis</label>
    <textarea ng-model="program.synopsis" cols="30" rows="10"></textarea>
  </div>

  <div class="input_field">
    <label>Url</label>
    <input type="text" ng-model="program.url">
  </div>

  <div class="input_field">
    <input type="submit" value="Spara">
  </div>
</form>