<a href="/programsXml">Visa som xml</a><br>
<a href="/#/edit">Skapa nytt program</a>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Start time</th>
    <th>Lead text</th>
    <th>B-line</th>
    <th>Synopsis</th>
    <th>URL</th>
    <th></th>
  </tr>
  <tr class="program" ng-repeat="program in programs">
    <td><a ng-href="/#/edit/{{program._id}}">{{program.name}}</a></td>
    <td>{{program.date}}</td>
    <td>{{program.start_time}}</td>
    <td class="leadtext">{{program.leadtext}}</td>
    <td>{{program['b-line']}}</td>
    <td class="synopsis">{{program.synopsis}}</td>
    <td><a target="_blank" ng-href="{{program.url}}">{{program.url}}</a></td>
    <td><button ng-click="deleteProgram(program._id)">Ta bort</button></td>
  </tr>
</table>
